# Node Configuration
PORT=3000
NODE_ENV=development

# Supabase Configuration
SUPABASE_URL=
SUPABASE_ANON_KEY=

# System
BOOTSTRAP_TOKEN=

# System (Workspace) Users Configuration
OWNER_EMAIL=
OWNER_NAME=
OWNER_PASSWORD=
ADMIN_EMAIL=
ADMIN_NAME=
ADMIN_PASSWORD=
DEVELOPER_EMAIL=
DEVELOPER_NAME=
DEVELOPER_PASSWORD=